<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container col-md-10 offset-col-1" >
    <a id="logo" class="navbar-brand" href="<%= root_path %>"><span id="slash">//</span>learnHELP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
           <label for="nav-link" class="sr-only">Browse Curriculum</label>
          <a class="nav-link" href="<%=units_path%>">Browse Curriculum</a>
        </li>
        <li class="nav-item">
          <label for="nav-link" class="sr-only">Best Tips</label>
          <a class="nav-link" href="<%=tips_path%>">Best Tips</a>
        </li>
        <li class="nav-item">
          <label for="nav-link" class="sr-only">Contributors</label>
          <a class="nav-link" href="<%=users_path%>">Contributors</a>
        </li>
      
      </ul>
      <% if logged_in? %>
            <%= render 'layouts/logged_in_icons' %>
      <%else %>
          <%= render 'layouts/not_logged_in_icons' %>
      <% end %>
  </div>
</nav>

<script>
$(function(){
  $('a.nav-link').each(function() {
    if ($(this).prop('href') == window.location.href) {
      $(this).addClass('active');
    }
    else {
       $(this).removeClass('active');
    }
  });
});
</script>